<!-- Page Content -->
<div id="pr-page-content-wrapper">
  <div class="container-fluid">

      <div class="pr-pg-title-wrapper text-center" data-aos="fade-down" data-aos-duration="1200">
          <h4>Pay Employee</h4>
      </div>
      <!-- pr-pg-title-wrapper  -->

      <div class="row">

          <div class="col-12 pr-table-main-wrap">

              <div class="pr_table-style" data-aos="fade-right" data-aos-duration="1500">

                  <div class="pr-table-wrapper">
                      <table class="table table-bordered table-striped table-hover test-table" id="user-table1">
                          <thead class="thead-dark">
                              <tr>
                                  <th class="text-center" scope="col"></th>
                                  <th class="text-center" scope="col">Name</th>
                                  <th class="text-center" scope="col">Month</th>
                                  <th class="text-center" scope="col">Status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="text-center">
                                      <label class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input">
                                          <span class="custom-control-indicator custom-width"></span>
                                          <span class="custom-control-description"></span>
                                      </label>
                                  </td>
                                  <td class="text-center">Neel</td>
                                  <td class="text-center">September</td>
                                  <td class="text-center pr-done">Done</td>
                              </tr>

                          </tbody>
                          <tbody>
                              <tr>
                                  <td class="text-center">
                                      <label class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input">
                                          <span class="custom-control-indicator custom-width"></span>
                                          <span class="custom-control-description"></span>
                                      </label>
                                  </td>
                                  <td class="text-center">Neel</td>
                                  <td class="text-center">September</td>
                                  <td class="text-center pr-pending">Pending <a href="edit_payment.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>

                              </tr>

                          </tbody>

                      </table>
                  </div>
                  <!--  pr-table-wrapper  -->

              </div>
              <!--  pr_table-style  -->

          </div>
          <!--  pr-table-main-wrap  -->

      </div>
      <!--  row  -->

  </div>
  <!--   container-fluid -->

</div>
<!-- page-content-wrapper -->