<!-- Page Content -->
<div id="pr-page-content-wrapper">
  <div class="container-fluid">

      <div class="pr-pg-title-wrapper text-center" data-aos="fade-down" data-aos-duration="1200">
          <h4>Leaves Status</h4>
          <span> CL Balance: 20 </span>
          <span> PL Balance: 20 </span>
      </div>
      <!-- pr-pg-title-wrapper  -->

      <div class="row">

          <div class="col-12 pr-table-main-wrap">

              <div class="pr_table-style" data-aos="fade-right" data-aos-duration="1500">

                  <div class="pr-table-wrapper">
                      <table class="table table-bordered table-striped table-hover test-table" id="user-table1">
                          <thead class="thead-dark">
                              <tr>
                                  <th class="text-center" scope="col"></th>
                                  <th class="text-center" scope="col">Applied</th>
                                  <th class="text-center" scope="col">From</th>
                                  <th class="text-center" scope="col">To</th>
                                  <th class="text-center" scope="col">Approved</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="text-center">
                                      <label class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input">
                                          <span class="custom-control-indicator custom-width"></span>
                                          <span class="custom-control-description"></span>
                                      </label>
                                  </td>
                                  <td class="text-center">27.02.2018</td>
                                  <td class="text-center">29.02.2018</td>
                                  <td class="text-center">8.03.2018</td>
                                  <td class="text-center"><i class="fa fa-check pr-tick"></i></td>

                              </tr>

                          </tbody>
                          <tbody>
                              <tr>
                                  <td class="text-center">
                                      <label class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input">
                                          <span class="custom-control-indicator custom-width"></span>
                                          <span class="custom-control-description"></span>
                                      </label>
                                  </td>
                                  <td class="text-center">2.04.2018</td>
                                  <td class="text-center">9.04.2018</td>
                                  <td class="text-center">18.05.2018</td>
                                  <td class="text-center"><i class="fa fa-times pr-cross"></i></td>

                              </tr>

                          </tbody>

                      </table>
                  </div>
                  <!--  pr-table-wrapper  -->

              </div>
              <!--  pr_table-style  -->

          </div>
          <!--  pr-table-main-wrap  -->

      </div>
      <!--  row  -->

  </div>
  <!--   container-fluid -->

</div>
<!-- page-content-wrapper -->