<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100" data-aos="zoom-out-up" data-aos-duration="2000">
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
        <span class="login100-form-title">
          Payroll System
        </span>
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
          <input [(ngModel)] = "loginUserData.loginEmail" class="input100" type="email" name="loginEmail" placeholder="Username" #name="ngModel">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Please enter password">
          <input [(ngModel)] = "loginUserData.loginPassword" class="input100" type="text" name="loginPassword" placeholder="Password" #name="ngModel">
          <span class="focus-input100"></span>
        </div>

        <div class="text-left p-t-20 p-b-27">
          <a href="employee_profile" class="txt2">
            Forgot Password?
          </a>
        </div>

        <div class="container-login100-form-btn p-b-50 p-t-30">
          <a class="btn btn-default pr-save-btn" (click) = "loginUser()">Login
            <i class="icon icon-arrows"></i>
          </a>
        </div>

      </form>
    </div>
  </div>
</div>